*, *:before, *:after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  width: 750px;
  margin: 0 auto;
}

ul {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgba(154, 69, 162, 0.756);
  align-items: center;
  justify-content: flex-start;
}

.item {
  background-color: rgb(37, 222, 255);
  width: 100px;
  height: 40px;
  list-style-type: none;
  margin-right: 15px;
}

.container {
  display: flex;
  height: 500px;
}

.main {
  background-color: rgb(255, 204, 0);
  width: 66%;
}

.side {
  background-color: rgb(0, 198, 0);
  width: 34%;
}