*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

#mainContainer{
  align-items: center;
  justify-items: center;
}

#subContainer{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

#gallery{
  order:1;
  display: flex;
  position: relative;
  max-width: 600px;
  height: 300px;
}

#content{
  background-color: lightgrey;
  color: rgba(0, 0, 0, 0.562);
  position: absolute;
  text-align: center;
  bottom: 0;
  opacity: 0.6;
  height: 100px;
  width: 100%;
  padding: 20px;
}

#imageContainer{
  display:flex;
  align-content: center;
  justify-content: center;
}

#mainImage{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button{
  padding: 0px 5px;
}

#rightButton{
  order:2;
  transform: rotate(180deg);
}

.smallImage{
  object-fit: cover;
  height: 60px;
  width: 100px;
  margin: 20px;
}