* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightgrey;
}
 article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 4px solid black;
}
 header, p, div, a{
  width:100%;
  padding:10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
} 